In [1]:
import sqlite3
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from math import ceil
from sklearn.preprocessing import MinMaxScaler

In [18]:
donors=pd.read_csv(r"C:\Users\marta\Documents\Big data\NOVA IMS\20202021\1st Semester\Data Mining\Project\donors.csv",index_col = 0)

C:\Users\marta\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (9,412) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [19]:
donors.head()

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,AVGGIFT,CONTROLN,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,2009-01-01,GRI,0,IL,61081,,,1957-12-01,0,,...,7.741935,95515,0,L,4,E,X,X,X,C
1,2014-01-01,BOA,1,CA,91326,,,1972-02-01,0,,...,15.666667,148535,0,L,2,G,X,X,X,A
2,2010-01-01,AMH,1,NC,27017,,,NaN,0,,...,7.481481,15078,1,L,4,E,X,X,X,C
3,2007-01-01,BRY,0,CA,95953,,,1948-01-01,0,,...,6.812500,172556,1,L,4,E,X,X,X,C
4,2006-01-01,,0,FL,33176,,,1940-01-01,0,X,...,6.864865,7112,1,L,2,F,X,X,X,A

In [27]:
donors.info(verbose=True,null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95412 entries, 0 to 95411
Data columns (total 475 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ODATEDW   95412 non-null  object
 1   OSOURCE   95412 non-null  object
 2   TCODE     95412 non-null  int64
 3   STATE     95412 non-null  object
 4   ZIP       95412 non-null  object
 5   MAILCODE  95412 non-null  object
 6   PVASTATE  95412 non-null  object
 7   DOB       71529 non-null  object
 8   NOEXCH    95412 non-null  object
 9   RECINHSE  95412 non-null  object
 10  RECP3     95412 non-null  object
 11  RECPGVG   95412 non-null  object
 12  RECSWEEP  95412 non-null  object
 13  MDMAUD    95412 non-null  object
 14  DOMAIN    95412 non-null  object
 15  HOMEOWNR  95412 non-null  object
 16  CHILD03   95412 non-null  object
 17  CHILD07   95412 non-null  object
 18  CHILD12   95412 non-null  object
 19  CHILD18   95412 non-null  object
 20  NUMCHLD   12386 non-null  float64
 21  INCOME    74126 non-null  float64
 22  GENDER    95412 non-null  object
 23  WEALTH1   50680 non-null  float64
 24  HIT       95412 non-null  int64
 25  MBCRAFT   42558 non-null  float64
 26  MBGARDEN  42558 non-null  float64
 27  MBBOOKS   42558 non-null  float64
 28  MBCOLECT  42498 non-null  float64
 29  MAGFAML   42558 non-null  float64
 30  MAGFEM    42558 non-null  float64
 31  MAGMALE   42558 non-null  float64
 32  PUBGARDN  42558 non-null  float64
 33  PUBCULIN  42558 non-null  float64
 34  PUBHLTH   42558 non-null  float64
 35  PUBDOITY  42558 non-null  float64
 36  PUBNEWFN  42558 non-null  float64
 37  PUBPHOTO  42558 non-null  float64
 38  PUBOPP    42558 non-null  float64
 39  DATASRCE  95412 non-null  object
 40  MALEMILI  95412 non-null  int64
 41  MALEVET   95412 non-null  int64
 42  VIETVETS  95412 non-null  int64
 43  WWIIVETS  95412 non-null  int64
 44  LOCALGOV  95412 non-null  int64
 45  STATEGOV  95412 non-null  int64
 46  FEDGOV    95412 non-null  int64
 47  SOLP3     95412 non-null  object
 48  SOLIH     95412 non-null  object
 49  MAJOR     95412 non-null  object
 50  WEALTH2   51589 non-null  float64
 51  GEOCODE   95412 non-null  object
 52  COLLECT1  95412 non-null  object
 53  VETERANS  95412 non-null  object
 54  BIBLE     95412 non-null  object
 55  CATLG     95412 non-null  object
 56  HOMEE     95412 non-null  object
 57  PETS      95412 non-null  object
 58  CDPLAY    95412 non-null  object
 59  STEREO    95412 non-null  object
 60  PCOWNERS  95412 non-null  object
 61  PHOTO     95412 non-null  object
 62  CRAFTS    95412 non-null  object
 63  FISHER    95412 non-null  object
 64  GARDENIN  95412 non-null  object
 65  BOATS     95412 non-null  object
 66  WALKER    95412 non-null  object
 67  KIDSTUFF  95412 non-null  object
 68  CARDS     95412 non-null  object
 69  PLATES    95412 non-null  object
 70  LIFESRC   95412 non-null  object
 71  PEPSTRFL  95412 non-null  object
 72  POP901    95412 non-null  int64
 73  POP902    95412 non-null  int64
 74  POP903    95412 non-null  int64
 75  POP90C1   95412 non-null  int64
 76  POP90C2   95412 non-null  int64
 77  POP90C3   95412 non-null  int64
 78  POP90C4   95412 non-null  int64
 79  POP90C5   95412 non-null  int64
 80  ETH1      95412 non-null  int64
 81  ETH2      95412 non-null  int64
 82  ETH3      95412 non-null  int64
 83  ETH4      95412 non-null  int64
 84  ETH5      95412 non-null  int64
 85  ETH6      95412 non-null  int64
 86  ETH7      95412 non-null  int64
 87  ETH8      95412 non-null  int64
 88  ETH9      95412 non-null  int64
 89  ETH10     95412 non-null  int64
 90  ETH11     95412 non-null  int64
 91  ETH12     95412 non-null  int64
 92  ETH13     95412 non-null  int64
 93  ETH14     95412 non-null  int64
 94  ETH15     95412 non-null  int64
 95  ETH16     95412 non-null  int64
 96  AGE901    95412 non-null  int64
 97  AGE902    95412 non-null  int64
 98  AGE903    95412 non-null  int64
 99  AGE904    95412 non-null  int64
 100 AGE905    95412 non-null  int64
 101 AGE906    95412 non-null  int64
 102 AGE907    95412 non-null  int64
 103 CHIL1     95412 non-null  int64
 104 CHIL2     95412 non-null  int64
 105 CHIL3     95412 non-null  int64
 106 AGEC1     95412 non-null  int64
 107 AGEC2     95412 non-null  int64
 108 AGEC3     95412 non-null  int64
 109 AGEC4     95412 non-null  int64
 110 AGEC5     95412 non-null  int64
 111 AGEC6     95412 non-null  int64
 112 AGEC7     95412 non-null  int64
 113 CHILC1    95412 non-null  int64
 114 CHILC2    95412 non-null  int64
 115 CHILC3    95412 non-null  int64
 116 CHILC4    95412 non-null  int64
 117 CHILC5    95412 non-null  int64
 118 HHAGE1    95412 non-null  int64
 119 HHAGE2    95412 non-null  int64
 120 HHAGE3    95412 non-null  int64
 121 HHN1      95412 non-null  int64
 122 HHN2      95412 non-null  int64
 123 HHN3      95412 non-null  int64
 124 HHN4      95412 non-null  int64
 125 HHN5      95412 non-null  int64
 126 HHN6      95412 non-null  int64
 127 MARR1     95412 non-null  int64
 128 MARR2     95412 non-null  int64
 129 MARR3     95412 non-null  int64
 130 MARR4     95412 non-null  int64
 131 HHP1      95412 non-null  int64
 132 HHP2      95412 non-null  int64
 133 DW1       95412 non-null  int64
 134 DW2       95412 non-null  int64
 135 DW3       95412 non-null  int64
 136 DW4       95412 non-null  int64
 137 DW5       95412 non-null  int64
 138 DW6       95412 non-null  int64
 139 DW7       95412 non-null  int64
 140 DW8       95412 non-null  int64
 141 DW9       95412 non-null  int64
 142 HV1       95412 non-null  int64
 143 HV2       95412 non-null  int64
 144 HV3       95412 non-null  int64
 145 HV4       95412 non-null  int64
 146 HU1       95412 non-null  int64
 147 HU2       95412 non-null  int64
 148 HU3       95412 non-null  int64
 149 HU4       95412 non-null  int64
 150 HU5       95412 non-null  int64
 151 HHD1      95412 non-null  int64
 152 HHD2      95412 non-null  int64
 153 HHD3      95412 non-null  int64
 154 HHD4      95412 non-null  int64
 155 HHD5      95412 non-null  int64
 156 HHD6      95412 non-null  int64
 157 HHD7      95412 non-null  int64
 158 HHD8      95412 non-null  int64
 159 HHD9      95412 non-null  int64
 160 HHD10     95412 non-null  int64
 161 HHD11     95412 non-null  int64
 162 HHD12     95412 non-null  int64
 163 ETHC1     95412 non-null  int64
 164 ETHC2     95412 non-null  int64
 165 ETHC3     95412 non-null  int64
 166 ETHC4     95412 non-null  int64
 167 ETHC5     95412 non-null  int64
 168 ETHC6     95412 non-null  int64
 169 HVP1      95412 non-null  int64
 170 HVP2      95412 non-null  int64
 171 HVP3      95412 non-null  int64
 172 HVP4      95412 non-null  int64
 173 HVP5      95412 non-null  int64
 174 HVP6      95412 non-null  int64
 175 HUR1      95412 non-null  int64
 176 HUR2      95412 non-null  int64
 177 RHP1      95412 non-null  int64
 178 RHP2      95412 non-null  int64
 179 RHP3      95412 non-null  int64
 180 RHP4      95412 non-null  int64
 181 HUPA1     95412 non-null  int64
 182 HUPA2     95412 non-null  int64
 183 HUPA3     95412 non-null  int64
 184 HUPA4     95412 non-null  int64
 185 HUPA5     95412 non-null  int64
 186 HUPA6     95412 non-null  int64
 187 HUPA7     95412 non-null  int64
 188 RP1       95412 non-null  int64
 189 RP2       95412 non-null  int64
 190 RP3       95412 non-null  int64
 191 RP4       95412 non-null  int64
 192 MSA       95280 non-null  float64
 193 ADI       95280 non-null  float64
 194 DMA       95280 non-null  float64
 195 IC1       95412 non-null  int64
 196 IC2       95412 non-null  int64
 197 IC3       95412 non-null  int64
 198 IC4       95412 non-null  int64
 199 IC5       95412 non-null  int64
 200 IC6       95412 non-null  int64
 201 IC7       95412 non-null  int64
 202 IC8       95412 non-null  int64
 203 IC9       95412 non-null  int64
 204 IC10      95412 non-null  int64
 205 IC11      95412 non-null  int64
 206 IC12      95412 non-null  int64
 207 IC13      95412 non-null  int64
 208 IC14      95412 non-null  int64
 209 IC15      95412 non-null  int64
 210 IC16      95412 non-null  int64
 211 IC17      95412 non-null  int64
 212 IC18      95412 non-null  int64
 213 IC19      95412 non-null  int64
 214 IC20      95412 non-null  int64
 215 IC21      95412 non-null  int64
 216 IC22      95412 non-null  int64
 217 IC23      95412 non-null  int64
 218 HHAS1     95412 non-null  int64
 219 HHAS2     95412 non-null  int64
 220 HHAS3     95412 non-null  int64
 221 HHAS4     95412 non-null  int64
 222 MC1       95412 non-null  int64
 223 MC2       95412 non-null  int64
 224 MC3       95412 non-null  int64
 225 TPE1      95412 non-null  int64
 226 TPE2      95412 non-null  int64
 227 TPE3      95412 non-null  int64
 228 TPE4      95412 non-null  int64
 229 TPE5      95412 non-null  int64
 230 TPE6      95412 non-null  int64
 231 TPE7      95412 non-null  int64
 232 TPE8      95412 non-null  int64
 233 TPE9      95412 non-null  int64
 234 PEC1      95412 non-null  int64
 235 PEC2      95412 non-null  int64
 236 TPE10     95412 non-null  int64
 237 TPE11     95412 non-null  int64
 238 TPE12     95412 non-null  int64
 239 TPE13     95412 non-null  int64
 240 LFC1      95412 non-null  int64
 241 LFC2      95412 non-null  int64
 242 LFC3      95412 non-null  int64
 243 LFC4      95412 non-null  int64
 244 LFC5      95412 non-null  int64
 245 LFC6      95412 non-null  int64
 246 LFC7      95412 non-null  int64
 247 LFC8      95412 non-null  int64
 248 LFC9      95412 non-null  int64
 249 LFC10     95412 non-null  int64
 250 OCC1      95412 non-null  int64
 251 OCC2      95412 non-null  int64
 252 OCC3      95412 non-null  int64
 253 OCC4      95412 non-null  int64
 254 OCC5      95412 non-null  int64
 255 OCC6      95412 non-null  int64
 256 OCC7      95412 non-null  int64
 257 OCC8      95412 non-null  int64
 258 OCC9      95412 non-null  int64
 259 OCC10     95412 non-null  int64
 260 OCC11     95412 non-null  int64
 261 OCC12     95412 non-null  int64
 262 OCC13     95412 non-null  int64
 263 EIC1      95412 non-null  int64
 264 EIC2      95412 non-null  int64
 265 EIC3      95412 non-null  int64
 266 EIC4      95412 non-null  int64
 267 EIC5      95412 non-null  int64
 268 EIC6      95412 non-null  int64
 269 EIC7      95412 non-null  int64
 270 EIC8      95412 non-null  int64
 271 EIC9      95412 non-null  int64
 272 EIC10     95412 non-null  int64
 273 EIC11     95412 non-null  int64
 274 EIC12     95412 non-null  int64
 275 EIC13     95412 non-null  int64
 276 EIC14     95412 non-null  int64
 277 EIC15     95412 non-null  int64
 278 EIC16     95412 non-null  int64
 279 OEDC1     95412 non-null  int64
 280 OEDC2     95412 non-null  int64
 281 OEDC3     95412 non-null  int64
 282 OEDC4     95412 non-null  int64
 283 OEDC5     95412 non-null  int64
 284 OEDC6     95412 non-null  int64
 285 OEDC7     95412 non-null  int64
 286 EC1       95412 non-null  int64
 287 EC2       95412 non-null  int64
 288 EC3       95412 non-null  int64
 289 EC4       95412 non-null  int64
 290 EC5       95412 non-null  int64
 291 EC6       95412 non-null  int64
 292 EC7       95412 non-null  int64
 293 EC8       95412 non-null  int64
 294 SEC1      95412 non-null  int64
 295 SEC2      95412 non-null  int64
 296 SEC3      95412 non-null  int64
 297 SEC4      95412 non-null  int64
 298 SEC5      95412 non-null  int64
 299 AFC1      95412 non-null  int64
 300 AFC2      95412 non-null  int64
 301 AFC3      95412 non-null  int64
 302 AFC4      95412 non-null  int64
 303 AFC5      95412 non-null  int64
 304 AFC6      95412 non-null  int64
 305 VC1       95412 non-null  int64
 306 VC2       95412 non-null  int64
 307 VC3       95412 non-null  int64
 308 VC4       95412 non-null  int64
 309 ANC1      95412 non-null  int64
 310 ANC2      95412 non-null  int64
 311 ANC3      95412 non-null  int64
 312 ANC4      95412 non-null  int64
 313 ANC5      95412 non-null  int64
 314 ANC6      95412 non-null  int64
 315 ANC7      95412 non-null  int64
 316 ANC8      95412 non-null  int64
 317 ANC9      95412 non-null  int64
 318 ANC10     95412 non-null  int64
 319 ANC11     95412 non-null  int64
 320 ANC12     95412 non-null  int64
 321 ANC13     95412 non-null  int64
 322 ANC14     95412 non-null  int64
 323 ANC15     95412 non-null  int64
 324 POBC1     95412 non-null  int64
 325 POBC2     95412 non-null  int64
 326 LSC1      95412 non-null  int64
 327 LSC2      95412 non-null  int64
 328 LSC3      95412 non-null  int64
 329 LSC4      95412 non-null  int64
 330 VOC1      95412 non-null  int64
 331 VOC2      95412 non-null  int64
 332 VOC3      95412 non-null  int64
 333 HC1       95412 non-null  int64
 334 HC2       95412 non-null  int64
 335 HC3       95412 non-null  int64
 336 HC4       95412 non-null  int64
 337 HC5       95412 non-null  int64
 338 HC6       95412 non-null  int64
 339 HC7       95412 non-null  int64
 340 HC8       95412 non-null  int64
 341 HC9       95412 non-null  int64
 342 HC10      95412 non-null  int64
 343 HC11      95412 non-null  int64
 344 HC12      95412 non-null  int64
 345 HC13      95412 non-null  int64
 346 HC14      95412 non-null  int64
 347 HC15      95412 non-null  int64
 348 HC16      95412 non-null  int64
 349 HC17      95412 non-null  int64
 350 HC18      95412 non-null  int64
 351 HC19      95412 non-null  int64
 352 HC20      95412 non-null  int64
 353 HC21      95412 non-null  int64
 354 MHUC1     95412 non-null  int64
 355 MHUC2     95412 non-null  int64
 356 AC1       95412 non-null  int64
 357 AC2       95412 non-null  int64
 358 ADATE_2   95412 non-null  object
 359 ADATE_3   93462 non-null  object
 360 ADATE_4   93221 non-null  object
 361 ADATE_5   61822 non-null  object
 362 ADATE_6   91855 non-null  object
 363 ADATE_7   86538 non-null  object
 364 ADATE_8   91901 non-null  object
 365 ADATE_9   84167 non-null  object
 366 ADATE_10  62664 non-null  object
 367 ADATE_11  84990 non-null  object
 368 ADATE_12  86489 non-null  object
 369 ADATE_13  55193 non-null  object
 370 ADATE_14  76545 non-null  object
 371 ADATE_15  29935 non-null  object
 372 ADATE_16  75048 non-null  object
 373 ADATE_17  67762 non-null  object
 374 ADATE_18  74149 non-null  object
 375 ADATE_19  70932 non-null  object
 376 ADATE_20  45212 non-null  object
 377 ADATE_21  60200 non-null  object
 378 ADATE_22  69764 non-null  object
 379 ADATE_23  39142 non-null  object
 380 ADATE_24  58439 non-null  object
 381 RFA_2     95412 non-null  object
 382 RFA_3     95412 non-null  object
 383 RFA_4     95412 non-null  object
 384 RFA_5     95412 non-null  object
 385 RFA_6     95412 non-null  object
 386 RFA_7     95412 non-null  object
 387 RFA_8     95412 non-null  object
 388 RFA_9     95412 non-null  object
 389 RFA_10    95412 non-null  object
 390 RFA_11    95412 non-null  object
 391 RFA_12    95412 non-null  object
 392 RFA_13    95412 non-null  object
 393 RFA_14    95412 non-null  object
 394 RFA_15    95412 non-null  object
 395 RFA_16    95412 non-null  object
 396 RFA_17    95412 non-null  object
 397 RFA_18    95412 non-null  object
 398 RFA_19    95412 non-null  object
 399 RFA_20    95412 non-null  object
 400 RFA_21    95412 non-null  object
 401 RFA_22    95412 non-null  object
 402 RFA_23    95412 non-null  object
 403 RFA_24    95412 non-null  object
 404 CARDPROM  95412 non-null  int64
 405 MAXADATE  95412 non-null  object
 406 NUMPROM   95412 non-null  int64
 407 CARDPM12  95412 non-null  int64
 408 NUMPRM12  95412 non-null  int64
 409 RDATE_3   242 non-null    object
 410 RDATE_4   281 non-null    object
 411 RDATE_5   9 non-null      object
 412 RDATE_6   776 non-null    object
 413 RDATE_7   8895 non-null   object
 414 RDATE_8   21472 non-null  object
 415 RDATE_9   16734 non-null  object
 416 RDATE_10  10461 non-null  object
 417 RDATE_11  14740 non-null  object
 418 RDATE_12  25700 non-null  object
 419 RDATE_13  12250 non-null  object
 420 RDATE_14  23317 non-null  object
 421 RDATE_15  7262 non-null   object
 422 RDATE_16  26994 non-null  object
 423 RDATE_17  9401 non-null   object
 424 RDATE_18  19778 non-null  object
 425 RDATE_19  15877 non-null  object
 426 RDATE_20  7888 non-null   object
 427 RDATE_21  9513 non-null   object
 428 RDATE_22  20873 non-null  object
 429 RDATE_23  7859 non-null   object
 430 RDATE_24  17738 non-null  object
 431 RAMNT_3   242 non-null    float64
 432 RAMNT_4   281 non-null    float64
 433 RAMNT_5   9 non-null      float64
 434 RAMNT_6   776 non-null    float64
 435 RAMNT_7   8895 non-null   float64
 436 RAMNT_8   21472 non-null  float64
 437 RAMNT_9   16734 non-null  float64
 438 RAMNT_10  10461 non-null  float64
 439 RAMNT_11  14740 non-null  float64
 440 RAMNT_12  25700 non-null  float64
 441 RAMNT_13  12250 non-null  float64
 442 RAMNT_14  23317 non-null  float64
 443 RAMNT_15  7262 non-null   float64
 444 RAMNT_16  26994 non-null  float64
 445 RAMNT_17  9401 non-null   float64
 446 RAMNT_18  19778 non-null  float64
 447 RAMNT_19  15877 non-null  float64
 448 RAMNT_20  7888 non-null   float64
 449 RAMNT_21  9513 non-null   float64
 450 RAMNT_22  20873 non-null  float64
 451 RAMNT_23  7859 non-null   float64
 452 RAMNT_24  17738 non-null  float64
 453 RAMNTALL  95412 non-null  float64
 454 NGIFTALL  95412 non-null  int64
 455 CARDGIFT  95412 non-null  int64
 456 MINRAMNT  95412 non-null  float64
 457 MINRDATE  95412 non-null  object
 458 MAXRAMNT  95412 non-null  float64
 459 MAXRDATE  95412 non-null  object
 460 LASTGIFT  95412 non-null  float64
 461 LASTDATE  95412 non-null  object
 462 FISTDATE  95410 non-null  object
 463 NEXTDATE  85439 non-null  object
 464 TIMELAG   85439 non-null  float64
 465 AVGGIFT   95412 non-null  float64
 466 CONTROLN  95412 non-null  int64
 467 HPHONE_D  95412 non-null  int64
 468 RFA_2R    95412 non-null  object
 469 RFA_2F    95412 non-null  int64
 470 RFA_2A    95412 non-null  object
 471 MDMAUD_R  95412 non-null  object
 472 MDMAUD_F  95412 non-null  object
 473 MDMAUD_A  95412 non-null  object
 474 GEOCODE2  95280 non-null  object
dtypes: float64(49), int64(301), object(125)
memory usage: 346.5+ MB

In [28]:
donors.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95412 entries, 0 to 95411
Columns: 475 entries, ODATEDW to GEOCODE2
dtypes: float64(49), int64(301), object(125)
memory usage: 346.5+ MB

In [21]:
donors.dtypes

ODATEDW     object
OSOURCE     object
TCODE        int64
STATE       object
ZIP         object
             ...
RFA_2A      object
MDMAUD_R    object
MDMAUD_F    object
MDMAUD_A    object
GEOCODE2    object
Length: 475, dtype: object

In [22]:
donors.isna().sum()

ODATEDW       0
OSOURCE       0
TCODE         0
STATE         0
ZIP           0
           ...
RFA_2A        0
MDMAUD_R      0
MDMAUD_F      0
MDMAUD_A      0
GEOCODE2    132
Length: 475, dtype: int64

In [24]:
donors.duplicated().sum()

0

In [26]:
donors.describe(include="all")

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,AVGGIFT,CONTROLN,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
count,95412,95412,95412.000000,95412,95412,95412,95412,71529,95412,95412,...,95412.000000,95412.000000,95412.000000,95412,95412.000000,95412,95412,95412,95412,95280
unique,54,896,NaN,57,19938,2,3,847,6,2,...,NaN,NaN,NaN,1,NaN,4,5,4,5,5
top,2015-01-01,MBC,NaN,CA,85351,,,1968-01-01,0,,...,NaN,NaN,NaN,L,NaN,F,X,X,X,A
freq,15358,4539,NaN,17343,61,94013,93954,1479,61203,88709,...,NaN,NaN,NaN,95412,NaN,46964,95118,95118,95118,34484
mean,NaN,NaN,54.223117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.347786,95778.176959,0.500618,NaN,1.910053,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,953.844476,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.769997,55284.596094,0.500002,NaN,1.072749,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.285714,1.000000,0.000000,NaN,1.000000,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.384615,47910.750000,0.000000,NaN,1.000000,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.636364,95681.500000,1.000000,NaN,2.000000,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.477955,143643.500000,1.000000,NaN,3.000000,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,72002.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1000.000000,191779.000000,1.000000,NaN,4.000000,NaN,NaN,NaN,NaN,NaN

In [29]:
donors.copy()

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,AVGGIFT,CONTROLN,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,2009-01-01,GRI,0,IL,61081,,,1957-12-01,0,,...,7.741935,95515,0,L,4,E,X,X,X,C
1,2014-01-01,BOA,1,CA,91326,,,1972-02-01,0,,...,15.666667,148535,0,L,2,G,X,X,X,A
2,2010-01-01,AMH,1,NC,27017,,,NaN,0,,...,7.481481,15078,1,L,4,E,X,X,X,C
3,2007-01-01,BRY,0,CA,95953,,,1948-01-01,0,,...,6.812500,172556,1,L,4,E,X,X,X,C
4,2006-01-01,,0,FL,33176,,,1940-01-01,0,X,...,6.864865,7112,1,L,2,F,X,X,X,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,2016-01-01,ASE,1,AK,99504,,,NaN,0,,...,25.000000,184568,0,L,1,G,X,X,X,C
95408,2016-01-01,DCD,1,TX,77379,,,1970-01-01,0,,...,20.000000,122706,1,L,1,F,X,X,X,A
95409,2015-01-01,MBC,1,MI,48910,,,1958-01-01,0,,...,8.285714,189641,1,L,3,E,X,X,X,B
95410,2006-01-01,PRV,0,CA,91320,,,1960-05-01,0,X,...,12.146341,4693,1,L,4,F,X,X,X,A
95411,2008-01-01,MCC,2,NC,28409,,,1938-01-01,0,X,...,96.794872,185114,1,L,1,G,C,1,C,C